@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.bgc{
    border-left: 5px solid #3e9cdb;
    position: absolute;
    top: 8rem;
    right: 0rem; 
    background-color: white;
    box-shadow: 0px 5.34229px 13.3557px rgba(160, 160, 160, 0.219);
}

@media screen and (max-width: 778px){
    .bgc{
        top: 0rem;
    }
}